.desktop-license-name {
  background: #148038;
  font-weight: bold;
  color: white;
  padding: 0.15em 0.5em;
  margin: 0 2em;
}

.desktop-license-summary {
  display: none;
  white-space: normal;
}

.js-navigation-item:hover .desktop-license-summary {
  display: block;
}

.js-navigation-item {
  vertical-align: top;
}
